/* body styling */
body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    background-color: rgb(120, 223, 212);
}

/* Header styling for the "Weather Dashboard" */
header {
    justify-content: center;
    background-color: rgb(78, 141, 223);
    font-family: 'Nunito', sans-serif;
    color: white;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 4px 6px 0 black;
    padding: 20px;
    margin-bottom: 5px;
}

/* The following are styling the search card, city input, and button */
.search {
    font-family: 'Nunito', sans-serif;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    box-shadow: 4px 4px 8px 0 black;
    text-align: center;
}

.searchCard {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    background-color: rgb(142, 221, 184);
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    margin-top: 30px;
    box-shadow: 0 4px 8px 0 black;
    margin-bottom: 30px;
}

button {
    background-color: rgb(214, 51, 51);
    color: white;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 black;
    padding: 5px;
}

button:hover {
    background-color: white;
    color: black;
}

li {
    list-style: none;
}

/* Past search card styling */
.history {
    background-color: white;
    color: black;
}

.history:hover {
    background-color: rgb(247, 247, 181);
    color: black;
}

.currentCard {
    color: white;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    background-color: rgb(78, 141, 223);
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
    box-shadow: 0 4px 8px 0 black;
    padding: 10px 0px 10px 0px;
    margin: 5px 0px 30px 5px;
}

/* Styling for the current and 5 day forecast, when searched */
.forecastCard {
    color: white;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    background-color: rgb(78, 141, 223);
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
    box-shadow: 0 4px 8px 0 black;
    padding: 10px 0px 10px 0px;
    margin: 5px 0px 30px 5px;
}

h2 {
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

h3 {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;

}

h4 {
    text-align: center;
    font-weight: bold;
}

h5 {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    text-decoration: none;
}

h6 {
    font-family: 'Nunito', sans-serif;
    display: inline;
}

.hidden {
    display: none;
}

/* Colors for the UV Index */
.uvcard {
    display: inline;
    border-radius: 5px;
    padding: 3px 5px 0px 5px;
    box-shadow: 0 4px 8px 0 black;
    width: 40px; 
  }

.green {
    background-color: green;
    color: black;
}

.yellow {
    background-color: yellow;
    color: black;
}

.orange {
    background-color: orange;
    color: black;
}

.red {
    background-color: red;
    color: black;
}
  
/* background-color: rgb(167, 122, 226);